<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
  </head>

  <body>
    <header class="header-main">
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list-item"><a href="/">Player</a></li>
          <li class="header-list-item"><a class="active" href="/admin/add-song">Add Song</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <form class="song-form" action="/admin/song" method="POST">
        <div class="form-control">
          <label>Song title</label>
          <input type="text" name="title" id="title">
        </div>
        <button type="submit">Add Song</button>
      </form>
    </main>
    <script>
      document.querySelector('#title').focus()
    </script>
  </body>
</html>