<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
  body
    header.header-main
      nav.header-nav
        ul.header-list
          li.header-list-item
            a.active(href="/") Player
          li.header-list-item
            a(href="/admin/add-song") Add song
    main
      h1 My songs:
        if songs.length > 0
          each song in songs
            p #{song.title}
        else  
          p no songs loaded
