<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <header class="header-main">
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list-item"><a class="active" href="/">Player</a></li>
          <li class="header-list-item"><a href="/admin/add-song">Add Song</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>My Songs</h1>
      <p>list of all the songs... </p>
    </main>
  </body>
</html>